{% extends 'organization/org_base.html' %}
{% load staticfiles %}
{% block title %}
    机构介绍
{% endblock %}

{% block page_path %}
    机构介绍
{% endblock %}

<!-- 替换右边 -->
{% block right_form %}
    <div class="right companycenter layout">
        <div class="head">
            <h1>机构介绍</h1>
        </div>
        <div class="des">
            <p>&nbsp; &nbsp; {{ course_org.name }}</p>
            <p>&nbsp; &nbsp;{{ course_org.desc }}</p>
            <p><br/></p>
        </div>
    </div>
{% endblock %}