{% extends "base.html" %}
{% load staticfiles %}
{% block title %} 公开课 {% endblock %}

{% block custom_css %}
    <style>
        .begin_to_learn{
            width: 100%;
            height: 100%;
            display: block;
        }
    </style>
{% endblock %}
<!-- 面包屑部分 -->
{% block custom_bread %}
    <section>
        <div class="wp">
            <div class="crumbs">
                <ul>
                    <li><a href="/">首页</a>></li>
                    <li><a href="{% url 'courses:course_list' %}">公开课</a>></li>
                    <li><a href="{% url 'courses:course_detail' course.id %}"></a>课程详情</li>
                </ul>
            </div>
        </div>
    </section>
{% endblock %}


{% block content %}
    <section>
        <div class="wp">
            <div class="groupPurchase_detail detail">
                <div class="toppro">
                    <div class="left">
                        <div class="picbox">
                            <div class="tb-booth tb-pic">
                                <img width="440" height="335" src="{{ MEDIA_URL }}{{ course.image }}"
                                     rel="{{ MEDIA_URL }}{{ course.image }}" class="jqzoom"/>
                            </div>

                        </div>
                        <div class="des">
                            <h1 title="django 从入门到精通体验开始了">{{ course.name }}</h1>
                            <span class="key">{{ course.desc }}</span>
                            <div class="prize">
                                <span class="fl">价格：<i class="key">免费</i></span>
                                <span class="fr">学习人数：{{ course.students }}</span>
                            </div>
                            <ul class="parameter">
                                <li><span
                                        class="pram word3">时&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;长：</span><span>{{ course.learn_times }}</span>
                                </li>
                                <!-- 这里是course实例调用一个函数get_lesson_num， 返回章节数 -->
                                <li><span
                                        class="pram word3">章&nbsp;节&nbsp;数：</span><span>{{ course.get_lession_number }}</span>
                                </li>
                                <li><span class="pram word3">课程类别：</span><span>{{ course.learn_times }}</span></li>
                                <li><span class="pram word3">课程难度：</span><span>{{ course.get_degree_display }}</span>
                                </li>
                                <li><span class="pram word3">课程类别：</span><span
                                        title=""> {{ course.get_course_category_display }} </span></li>
                                <li class="piclist"><span class="pram word4">学习用户：</span>
                                    {% for user_course in course.get_learn_users %}
                                        <span class="pic"><img width="40" height="40" src="
                                                {{ MEDIA_URL }}{{ user_course.user.image }}"/></span>
                                    {% endfor %}
                                </li>
                            </ul>
                            <div class="btns">
                                <div class="btn colectgroupbtn  notlogin
                                      " data-favid="15" id="jsLeftBtn">
                                    {% if has_fav_course %}已收藏{% else %}收藏{% endif %}
                                </div>

                                <div class="buy btn">
                                    <a class="begin_to_learn" style="color: white" href="{% url 'courses:course_info' course.id %}">开始学习</a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- 开发过内容系统 -->
                    <div class="right">
                        <div class="head">
                            <h1 style="text-align: center;">授课机构</h1>
                            <p style="text-align: center;">中国权威高校</p>
                        </div>
                        <div class="pic">
                            <a href="{% url 'org:org_home' course.course_org.id %}">
                                <img width="150" height="80" src="{{ MEDIA_URL }}{{ course.course_org.image }}"/>
                            </a>
                        </div>
                        <a href="{% url 'org:org_home' course.course_org.id %}">
                            <h2 class="center" title="">{{ course.course_org.name }}</h2>
                        </a>
                        <p class="center tell">地址：{{ course.course_org.address }}</p>
                        <!-- ajax提交 -->
                        <div class="btn  notlogin" data-favid="14" id="jsRightBtn">
                            {% if has_fav_org %}已收藏{% else %}收藏{% endif %}
                        </div>
                        <div class="clear">
                            <ul>
                                <li>
                                    <span>课 &nbsp;程&nbsp; 数：&nbsp;&nbsp;{{ course.course_org.get_course_number }}</span>
                                </li>
                                <li>
                                    <span>教 &nbsp;师&nbsp; 数：&nbsp;&nbsp;{{ course.course_org.get_teacher_number }}</span>
                                </li>

                                <li>所在地区：&nbsp;&nbsp;{{ course.course_org.address }}</li>
                                <li>认&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;证&nbsp;:
                                    &nbsp;&nbsp;
                                    <img title="金牌机构"  src="{% static 'images/gold.png' %}"/>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="wp">
            <div class="list groupPurchase_detail_pro">
                <div class="left layout">
                    <div class="head">
                        <ul class="tab_header">
                            <li class="active">产品详细</li>
                        </ul>
                    </div>
                    <div class="tab_cont tab_cont1">
                        <!-- 显示富文本的时候关闭特殊符号转义的功能 --->
                        {% autoescape off %}
                        {{ course.detail }}
                        {% endautoescape %}
                    </div>
                    <div class="tab_cont tab_cont2">
                        <div class="comment">
                            <div class="comenlist">

                            </div>
                        </div>
                    </div>
                </div>
                <!-- 相关推荐 -->
                <div class="right layout">
                    <div class="head">相关课程推荐</div>
                    <div class="group_recommend">
                        {% for course in  relate_course %}
                            <dl>
                            <dt>
                                <a target="_blank" href="">
                                    <img width="240" height="220" class="scrollLoading"
                                         src="{{ MEDIA_URL }}{{ course.image }}"/>
                                </a>
                            </dt>
                            <dd>
                                <a target="_blank" href=""><h2>{{ course.name }}</h2></a>
                                <span class="fl">学习时长：<i class="key">{{ course.learn_times }}</i></span>
                            </dd>
                        </dl>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}


{% block custom_js %}
<!-- 处理收藏和取消的ajax -->
<script>

    let add_fav = function (current_elem, fav_id, fav_type) {
        $.ajax({
            cache: false,
            type: 'POST',
            url: "{% url 'org:add_fav' %}",
            data: {'fav_id': fav_id, 'fav_type': fav_type}, // 这里没有form表达提交，因此，不需要序列号
            async: true,
            dataType: 'json',
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            },
            success: function (data) {

                if (data.status == "fail") {
                    if (data.msg == '您还未登入，请先登录') {
                        window.location.href = '/login/';
                    } else {

                        current_elem.text(data.msg)
                    };

                } else {
                    current_elem.text(data.msg)
                }
            },
            error: function (data) {
                console.log('请求数据失败');

            },
        });
    };

    <!-- 右边的收藏按钮：收藏课程 -->
    $("#jsLeftBtn").on('click', function () {
        add_fav($(this), {{ course.id }}, 1);
    });

    <!-- 左边的收藏按钮：收藏机构 -->
    $("#jsRightBtn").on('click', function () {
        add_fav($(this), {{ course.course_org.id }}, 2);
    });
</script>
{% endblock %}